table.comicGreen {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #4F7849;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table.comicGreen td,
table.comicGreen th {
    border: 1px solid #4F7849;
    padding: 3px 2px;
}

table.comicGreen tbody td {
    font-size: 19px;
    font-weight: bold;
    color: #4F7849;
}

table.comicGreen tr:nth-child(even) {
    background: #CEE0CC;
}

table.comicGreen thead {
    background: #4F7849;
    background: -moz-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
    background: -webkit-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
    background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);
    border-bottom: 1px solid #444444;
}

table.comicGreen thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}

table.comicGreen thead th:first-child {
    border-left: none;
}

table.comicGreen tfoot td {
    font-size: 21px;
}

.gestores-article {
    text-align: center;
    display: inline-block;
    /* height: 300px; */
    width: 45%;
    margin: 10px;
    padding: 20px;
    vertical-align: middle;
}

.gestores-main {
    padding-top: 60px;
    text-align: center;
}

.dashboard-article__table {
    margin-top: 20px;
}

.gestores-form__campo{
    margin-top: 25px;
    
}

.gestores-form__label {
    text-align: left;
    display: inline-block;
    width: 30%;
}

.gestores-form__submit {
    margin-top: 25px;
    background-color: #0e4f1f;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: 0;
    padding: 10px 18px;
}

.gestores-form__submit:hover {
    color: white;
    background-color: #0e4f1f;
    box-shadow: 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
